<div class="carte_commerce">
    <div class="photo_commerce">
    </div>
    <div class="data_commerce">
        <div class="statut_ouverture">
            <div class="pastille"></div>
            <span class="label_pastille">Ouvert</span>
        </div>
        <p class="titre_commerce">Monsieur K au Jardin</p>
        <p class="desc_commerce">Artisan fleuriste situé dans le quartier de Belleville à Paris. Venez découvrir toutes les variétés de fleurs, les objets de déco chinés avec soin.</p>
        <table class="tags_carte">
            <tr>
                <td>fleuriste</td>
                <td>click&collect</td>
            </tr>
            <tr>
                <td>artisan</td>
                <td>Paris</td>
            </tr>
        </table>
        <button class="bouton_decouvrir">Découvrir</button>
    </div>
</div>

<div class="separateur_carte">
</div>