<div class="carte_commerce">
    <input type="hidden" class="tags" value="fleuriste, click&collect, artisan, Paris">
    <div class="photo_commerce" id="first">
    </div>
    <div class="data_commerce">
        <div class="statut_ouverture">
            <div class="pastille"></div>
            <span class="label_pastille">Ouvert</span>
        </div>
        <p class="titre_commerce">Monsieur K au Jardin</p>
        <p class="desc_commerce">Artisan fleuriste situé dans le quartier de Belleville à Paris. Venez découvrir toutes les variétés de fleurs, les objets de déco chinés avec soin.</p>
        <table class="tags_carte">
            <tr>
                <td>fleuriste</td>
                <td>click&collect</td>
            </tr>
            <tr>
                <td>artisan</td>
                <td>Paris</td>
            </tr>
        </table>
        <button class="bouton_decouvrir">Découvrir</button>
    </div>
</div>

<div class="separateur_carte">
</div>

<div class="carte_commerce">
    <div class="photo_commerce" id="second">
        
    </div>
    <div class="data_commerce">
        <div class="statut_ouverture">
            <div class="pastille"></div>
            <span class="label_pastille">Ouvert</span>
        </div>
        <p class="titre_commerce">Les Bocaux de Camille</p>
        <p class="desc_commerce">Épicerie en vrac situé dans la zone de Linkling à Thionville. Venez avec vos propres contenants pour faire vos courses du quotidien.</p>
        <table class="tags_carte">
            <tr>
                <td>épicerie</td>
                <td>click&collect</td>
            </tr>
            <tr>
                <td>zéro déchet</td>
                <td>Thionville</td>
            </tr>
        </table>
        <button class="bouton_decouvrir">Découvrir</button>
    </div>
</div>

<div class="separateur_carte">
</div>

<div class="carte_commerce">
    <div class="photo_commerce" id="three">
        
    </div>
    <div class="data_commerce">
        <div class="statut_ouverture">
            <div class="pastille"></div>
            <span class="label_pastille">Ouvert</span>
        </div>
        <p class="titre_commerce">Ferme Sainte Suzanne</p>
        <p class="desc_commerce">La Ferme propose un large choix de fromages fermiers, de vins régionaux et de produits d’épicerie. </p>
        <table class="tags_carte">
            <tr>
                <td>fromagerie</td>
                <td>click&collect</td>
            </tr>
            <tr>
                <td>caviste</td>
                <td>Chartres</td>
            </tr>
        </table>
        <button class="bouton_decouvrir">Découvrir</button>
    </div>
</div>

<div class="separateur_carte">
</div>

<div class="carte_commerce">
    <div class="photo_commerce" id="four">
        
    </div>
    <div class="data_commerce">
        <div class="statut_ouverture">
            <div class="pastille2"></div>
            <span class="label_pastille">Fermé</span>
        </div>
        <p class="titre_commerce">Books & Coffee</p>
        <p class="desc_commerce">Boutique de thés et cafés au charme d’antan avec produits d'épicerie fine, cadeaux et dégustation sur place. </p>
        <table class="tags_carte">
            <tr>
                <td>épicerie</td>
                <td>pâtisserie</td>
            </tr>
            <tr>
                <td>restauration</td>
                <td>Bordeaux</td>
            </tr>
        </table>
        <button class="bouton_decouvrir">Découvrir</button>
    </div>
</div>
<div class="separateur_carte">
</div>


<div class="carte_commerce">
    <div class="photo_commerce" id="five">
        
    </div>
    <div class="data_commerce">
        <div class="statut_ouverture">
            <div class="pastille"></div>
            <span class="label_pastille">Ouvert</span>
        </div>
        <p class="titre_commerce">Hardy Pâtissier, Chololatier 
            et Triateur</p>
        <p class="desc_commerce">Pâtisserie, chocolatier et traiteur situé à Saint-Germain en Laye. Venez déguister  les spécialités de la maison. </p>
        <table class="tags_carte">
            <tr>
                <td>chocolatier</td>
                <td>livraison</td>
            </tr>
            <tr>
                <td>pâtissier</td>
                <td>Saint-Germain</td>
            </tr>
        </table>
        <button class="bouton_decouvrir">Découvrir</button>
    </div>
</div>
<div class="separateur_carte">
</div>

<div class="carte_commerce">
    <div class="photo_commerce" id="six">
        
    </div>
    <div class="data_commerce">
        <div class="statut_ouverture">
            <div class="pastille"></div>
            <span class="label_pastille">Ouvert</span>
        </div>
        <p class="titre_commerce">Bo & Co</p>
        <p class="desc_commerce">Boutique où vous trouverez  des vêtements pour enfant et bébé, dans un style classique et coloré. </p>
        <table class="tags_carte">
            <tr>
                <td>prêt-à-porter</td>
                <td>livraison</td>
            </tr>
            <tr>
                <td>enfant</td>
                <td>Agen</td>
            </tr>
        </table>
        <button class="bouton_decouvrir">Découvrir</button>
    </div>
</div>
<div class="separateur_carte">
</div>

<div class="carte_commerce">
    <div class="photo_commerce" id="seven">
</div>
<div class="data_commerce">
    <div class="statut_ouverture">
        <div class="pastille"></div>
        <span class="label_pastille">Ouvert</span>
    </div>
    <p class="titre_commerce">Brendy Concept Store</p>
    <p class="desc_commerce">Boutique 100% locale, qui sait mélanger entre vintage, neuf et écorésponsable. </p>
    <table class="tags_carte">
        <tr>
            <td>brocante</td>
            <td>click&collect</td>
        </tr>
        <tr>
            <td>friperie</td>
            <td>Metz</td>
        </tr>
    </table>
    <button class="bouton_decouvrir">Découvrir</button>
</div>
</div>
<div class="separateur_carte">
</div>

<div class="carte_commerce">
    <div class="photo_commerce" id="eight">
</div>
<div class="data_commerce">
    <div class="statut_ouverture">
        <div class="pastille"></div>
        <span class="label_pastille">Ouvert</span>
    </div>
    <p class="titre_commerce">Guest Coiffeur</p>
    <p class="desc_commerce">Ambiance chaleureuse, professionnalisme rigoureux basé sur une solide expérience, tels sont les atouts de Guest Coiffeur.</p>
    <table class="tags_carte">
        <tr>
            <td>coiffeur</td>
            <td>vente de produits</td>
        </tr>
        <tr>
            <td>naturel</td>
            <td>Bordeaux</td>
        </tr>
    </table>
    <button class="bouton_decouvrir">Découvrir</button>
</div>
</div>
