<div class="carte_commerce">
    <input type="hidden" class="tags" value="fleuriste, click&collect, artisan, Paris">
    <div class="photo_commerce" id="first" role="img" alt="Photographie présentant une boutique de fleurs. Nous pouvons observer des pots de fleurs, variées par leurs couleurs.">
    </div>
    <div class="data_commerce">
        <div class="statut_ouverture">
            <div class="pastille"></div>
            <span class="label_pastille">Ouvert</span>
        </div>
        <p class="titre_commerce">Monsieur K au Jardin</p>
        <p class="desc_commerce">Artisan fleuriste situé dans le quartier de Belleville à Paris. Venez découvrir toutes les variétés de fleurs, les objets de déco chinés avec soin.</p>
        <div class="tableContainer">
            <table class="tags_carte">
                <tr>
                    <td>fleuriste</td>
                    <td>click&collect</td>
                </tr>
                <tr>
                    <td>artisan</td>
                    <td>Paris</td>
                </tr>
            </table>
        </div>




        <button id="btnDecouvrir" class="bouton_decouvrir">Découvrir</button>
        <div id="overlay" class="overlay">
            <div id="popup" class="popup">
            <h2>
            En cours de programmation. 
            <span id="btnClose" class="btnClose">&times;</span>
            </h2>
            <div>
            Bravo pour être arrivé jusqu'ici ! Malheureusement, c'est encore en construction.
            </div>
            <img src="assets/photos/pelleteusearnaque.png" class="tractopelle">
            

        </div>
        </div>




    </div>
</div>

<div class="separateur_carte">
</div>

<div class="carte_commerce">
    <input type="hidden" class="tags" value="épicerie, click&collect, zéro-déchet, Thionville">
    <div class="photo_commerce" id="second" role="img" alt="Photographie d'intérieur présentant des conteneurs de nourriture et des distributeurs manuels de nourriture.">
        
    </div>
    <div class="data_commerce">
        <div class="statut_ouverture">
            <div class="pastille"></div>
            <span class="label_pastille">Ouvert</span>
        </div>
        <p class="titre_commerce">Les Bocaux de Camille</p>
        <p class="desc_commerce">Épicerie en vrac situé dans la zone de Linkling à Thionville. Venez avec vos propres contenants pour faire vos courses du quotidien.</p>
        <div class="tableContainer">
            <table class="tags_carte">
                <tr>
                    <td>épicerie</td>
                    <td>click&collect</td>
                </tr>
                <tr>
                    <td>zéro-déchet</td>
                    <td>Thionville</td>
                </tr>
            </table>
        </div>
        <button id="btnDecouvrir" class="bouton_decouvrir">Découvrir</button>
        <div id="overlay" class="overlay">
            <div id="popup" class="popup">
            <h2>
            En cours de programmation. 
            <span id="btnClose" class="btnClose">&times;</span>
            </h2>
            <div>
            Bravo pour être arrivé jusqu'ici ! Malheureusement, c'est encore en construction.
            </div>
            <img src="assets/photos/pelleteusearnaque.png" class="tractopelle">
        </div>
        </div>


    </div>
</div>

<div class="separateur_carte">
</div>

<div class="carte_commerce">
    <input type="hidden" class="tags" value="fromagerie, click&collect, caviste, Chartres">
    <div class="photo_commerce" id="three" role="img" alt="Photographie de l'intérieur d'une fromagerie présentant le stand de fromage frais.">
        
    </div>
    <div class="data_commerce">
        <div class="statut_ouverture">
            <div class="pastille"></div>
            <span class="label_pastille">Ouvert</span>
        </div>
        <p class="titre_commerce">Ferme Sainte Suzanne</p>
        <p class="desc_commerce">La Ferme propose un large choix de fromages fermiers, de vins régionaux et de produits d’épicerie. </p>
        <div class="tableContainer">
            <table class="tags_carte">
                <tr>
                    <td>fromagerie</td>
                    <td>click&collect</td>
                </tr>
                <tr>
                    <td>caviste</td>
                    <td>Chartres</td>
                </tr>
            </table>
        </div>
          <button id="btnDecouvrir" class="bouton_decouvrir">Découvrir</button>
        <div id="overlay" class="overlay">
            <div id="popup" class="popup">
            <h2>
            En cours de programmation. 
            <span id="btnClose" class="btnClose">&times;</span>
            </h2>
            <div>
            Bravo pour être arrivé jusqu'ici ! Malheureusement, c'est encore en construction.
            </div>
            <img src="assets/photos/pelleteusearnaque.png" class="tractopelle">
        </div>
        </div>

    </div>
</div>

<div class="separateur_carte">
</div>

<div class="carte_commerce">
    <input type="hidden" class="tags" value="épicerie, pâtisserie, restauration, Bordeaux">
    <div class="photo_commerce" id="four" role="img" alt="Photographie présentant la devanture d'un salon de thé. Nous pouvons apercevoir la terrasse.">
        
    </div>
    <div class="data_commerce">
        <div class="statut_ouverture">
            <div class="pastille2"></div>
            <span class="label_pastille">Fermé</span>
        </div>
        <p class="titre_commerce">Books & Coffee</p>
        <p class="desc_commerce">Boutique de thés et cafés au charme d’antan avec produits d'épicerie fine, cadeaux et dégustation sur place. </p>
        <div class="tableContainer">
            <table class="tags_carte">
                <tr>
                    <td>épicerie</td>
                    <td>pâtisserie</td>
                </tr>
                <tr>
                    <td>restauration</td>
                    <td>Bordeaux</td>
                </tr>
            </table>
        </div>
          <button id="btnDecouvrir" class="bouton_decouvrir">Découvrir</button>
        <div id="overlay" class="overlay">
            <div id="popup" class="popup">
            <h2>
            En cours de programmation. 
            <span id="btnClose" class="btnClose">&times;</span>
            </h2>
            <div>
            Bravo pour être arrivé jusqu'ici ! Malheureusement, c'est encore en construction.
            </div>
            <img src="assets/photos/pelleteusearnaque.png" class="tractopelle">
        </div>
        </div>

    </div>
</div>
<div class="separateur_carte">
</div>


<div class="carte_commerce">
    <input type="hidden" class="tags" value="chocolatier, livraison, pâtissier, Saint-Germain">
    <div class="photo_commerce" id="five" role="img" alt="Photographie commerciale de près présentant des friandises ainsi que des viennoiseries.">
        
    </div>
    <div class="data_commerce">
        <div class="statut_ouverture">
            <div class="pastille"></div>
            <span class="label_pastille">Ouvert</span>
        </div>
        <p class="titre_commerce">Hardy Pâtissier, Chololatier 
            et Triateur</p>
        <p class="desc_commerce">Pâtisserie, chocolatier et traiteur situé à Saint-Germain en Laye. Venez déguister  les spécialités de la maison. </p>
        <div class="tableContainer">
            <table class="tags_carte">
                <tr>
                    <td>chocolatier</td>
                    <td>livraison</td>
                </tr>
                <tr>
                    <td>pâtissier</td>
                    <td>Saint-Germain</td>
                </tr>
            </table>
        </div>
          <button id="btnDecouvrir" class="bouton_decouvrir">Découvrir</button>
        <div id="overlay" class="overlay">
            <div id="popup" class="popup">
            <h2>
            En cours de programmation. 
            <span id="btnClose" class="btnClose">&times;</span>
            </h2>
            <div>
            Bravo pour être arrivé jusqu'ici ! Malheureusement, c'est encore en construction.
            </div>
            <img src="assets/photos/pelleteusearnaque.png" class="tractopelle">
        </div>
        </div>


    </div>
</div>
<div class="separateur_carte">
</div>

<div class="carte_commerce">
    <input type="hidden" class="tags" value="prêt-à-porter, livraison, enfant, Agen">
    <div class="photo_commerce" id="six" role="img" alt="Photographie présentant une multitude de vêtements dans un rayon du magaisn.">
        
    </div>
    <div class="data_commerce">
        <div class="statut_ouverture">
            <div class="pastille"></div>
            <span class="label_pastille">Ouvert</span>
        </div>
        <p class="titre_commerce">Bo & Co</p>
        <p class="desc_commerce">Boutique où vous trouverez  des vêtements pour enfant et bébé, dans un style classique et coloré. </p>
        <div class="tableContainer">
            <table class="tags_carte">
                <tr>
                    <td>prêt-à-porter</td>
                    <td>livraison</td>
                </tr>
                <tr>
                    <td>enfant</td>
                    <td>Agen</td>
                </tr>
            </table>
        </div>
        <button id="btnDecouvrir" class="bouton_decouvrir">Découvrir</button>
        <div id="overlay" class="overlay">
            <div id="popup" class="popup">
            <h2>
            En cours de programmation. 
            <span id="btnClose" class="btnClose">&times;</span>
            </h2>
            <div>
            Bravo pour être arrivé jusqu'ici ! Malheureusement, c'est encore en construction.
            </div>
            <img src="assets/photos/pelleteusearnaque.png" class="tractopelle">
        </div>
        </div>

    </div>
</div>
<div class="separateur_carte">
</div>

<div class="carte_commerce">
    <input type="hidden" class="tags" value="brocante, click&collect, friperie, Metz">
    <div class="photo_commerce" id="seven" role="img" alt="Photographie mettant en avant de nombreux produits : vêtements, maroquinerie, accessoires, ...">
</div>
<div class="data_commerce">
    <div class="statut_ouverture">
        <div class="pastille"></div>
        <span class="label_pastille">Ouvert</span>
    </div>
    <p class="titre_commerce">Brendy Concept Store</p>
    <p class="desc_commerce">Boutique 100% locale, qui sait mélanger entre vintage, neuf et écorésponsable. </p>
    <div class="tableContainer">
        <table class="tags_carte">
            <tr>
                <td>brocante</td>
                <td>click&collect</td>
            </tr>
            <tr>
                <td>friperie</td>
                <td>Metz</td>
            </tr>
        </table>
    </div>
  <button id="btnDecouvrir" class="bouton_decouvrir">Découvrir</button>
        <div id="overlay" class="overlay">
            <div id="popup" class="popup">
            <h2>
            En cours de programmation. 
            <span id="btnClose" class="btnClose">&times;</span>
            </h2>
            <div>
            Bravo pour être arrivé jusqu'ici ! Malheureusement, c'est encore en construction.
            </div>
            <img src="assets/photos/pelleteusearnaque.png" class="tractopelle">
        </div>
        </div>

</div>
</div>
<div class="separateur_carte">
</div>

<div class="carte_commerce">
    <input type="hidden" class="tags" value="coiffeur, vente de produits, naturel, Bordeaux">
    <div class="photo_commerce" id="eight" role="img" alt="Photographie de l'intérieur d'un salon de coiffure avec des murs en thème de briques. Nous pouvons voir des miroirs ainsi que des sièges pour les clients.">
</div>
<div class="data_commerce">
    <div class="statut_ouverture">
        <div class="pastille"></div>
        <span class="label_pastille">Ouvert</span>
    </div>
    <p class="titre_commerce">Guest Coiffeur</p>
    <p class="desc_commerce">Ambiance chaleureuse, professionnalisme rigoureux basé sur une solide expérience, tels sont les atouts de Guest Coiffeur.</p>
    <div class="tableContainer">
        <table class="tags_carte">
            <tr>
                <td>coiffeur</td>
                <td>vente de produits</td>
            </tr>
            <tr>
                <td>naturel</td>
                <td>Bordeaux</td>
            </tr>
        </table>
    </div>
  <button id="btnDecouvrir" class="bouton_decouvrir">Découvrir</button>
        <div id="overlay" class="overlay">
            <div id="popup" class="popup">
            <h2>
            En cours de programmation. 
            <span id="btnClose" class="btnClose">&times;</span>
            </h2>
            <div>
            Bravo pour être arrivé jusqu'ici ! Malheureusement, c'est encore en construction.
            </div>
            <img src="assets/photos/pelleteusearnaque.png" class="tractopelle">
        </div>
        </div>
        
</div>
</div>
