<div class="conteneurimage">
   <div class="image1"></div>
</div>

<div class="descphoto1">

    <div id="openclose">
    </div>
    <p class="ouvert">Ouvert</p>
    <h3>Monsieur K au Jardin</h3>
    <div class="descriptionStore">Artisan fleuriste situé dans le quartier de Belleville à Paris. Venez découvrir toutes
        les variétés de fleurs, les objets de déco chinés avec soin.
    </div>

    <div class="tags">
        <div class="tag1">clic&collect</div>
        <div class="tag2">fleuriste</div>
        <div class="tag3">artisan</div>
        <div class="tag4">paris</div>
    </div>

    <button class="decouvrir" type="button">Découvrir</button>

</div>