<img class="image" src="assets/photos/first.jpg" alt="Photo d'un commerce fleuriste"></img>

<div class="descphoto1">

    <div id="openclose">
        <p class="ouvert">Ouvert</p>
    </div>

    <p class="descriptionStore">Artisan fleuriste situé dans le quartier de Belleville à Paris. Venez découvrir toutes
        les variétés de fleurs, les objets de déco chinés avec soin.
    </p>

    <div class="tags">
        <div class="tag1">clic&collect</div>
        <div class="tag2">fleuriste</div>
        <div class="tag3">artisan</div>
        <div class="tag4">paris</div>
    </div>

    <button class="decouvrir" type="button">Découvrir</button>

</div>