<div id="formDiv" class="contentDiv">
    <h2 class="txtBleu txtCenter txtBold">Référencez un commerce</h2>
    <p class="txtBleu txtLight" id="champsObligatoires">Les champs marqués d’un * sont obligatoires.</p>
    <p class="txtBleu txtLight">Parlez nous de ce commerce :</p>
    <div class="inputDiv">
        <label for="name">*Quel est sont nom ?</label>
        <input type="text" id="name">
    </div>
    <div class="colSpace"></div>
    <div class="inputDiv">
        <label for="name">Quel est le numéro de téléphone ?</label>
        <input type="text" id="tel">
    </div>
    <div class="colSpace"></div>
    <div class="inputDiv">
        <label for="name">*Où se trouve ce commerce ?</label>
        <input type="text" id="adresse">
    </div>
    <div class="colSpace"></div>
    <div class="inputDiv">
        <label for="name">Le commerce dispose t’il d’un site web ?</label>
        <input type="text" id="web">
    </div>
</div>