<div id="formDiv" class="contentDiv">
    <h2 class="txtBleu txtCenter txtBold">Référencez un commerce</h2>
    <p class="txtBleu txtLight" id="champsObligatoires">Les champs marqués d’un * sont obligatoires.</p>
    <p class="txtBleu txtLight">Parlez-nous de ce commerce :</p>
    <div class="inputDiv txtSize">
        <label for="name">*Quel est son nom ?</label>
        <input type="text" class="inputs">
    </div>
    <div class="colSpace"></div>
    <div class="inputDiv">
        <label for="name">Quel est le numéro de téléphone ?</label>
        <input type="text" class="inputs">
    </div>
    <div class="colSpace"></div>
    <div class="inputDiv">
        <label for="name">*Où se trouve ce commerce ?</label>
        <input type="text" class="inputs">
    </div>
    <div class="colSpace"></div>
    <div class="inputDiv">
        <label for="name" class="txtSize">Le commerce dispose t’il d’un site web ?</label>
        <input type="text" class="inputs">
    </div>


    <div class="colSpace"></div>
    <div class="inputDiv">
        <label for="name" class="txtSize">*Décrivez-nous brièvement ce commerce :</label>
        <div id="charNum">(240 caractères max.)</div>
        <div class="colSpaceMini"></div>
        <textarea id="inputDesc" maxlength=241 onkeyup="countChar(this)"></textarea>
    </div>

    <div class="colSpaceMini"></div>

    <p class="txtBleu txtLight txtSize">Donnez-nous quelques autres informations :</p>
    
    <label for="name" class="txtBold txtBleu txtSizeMini">Déposez trois photos au maximum :</label>
    <div class="txtLight txtBleu">Formats acceptés : JPG, PNG (10Mo max.)</div>
    <div class="colSpaceMini"></div>
    <div class="uploads">
        <div class="upload">
            <input type="file" id="upload1">
            <div class="overlayUpload">
                <img src="assets/icons/upload.svg">
            </div>
        </div>
        <div class="upload" onclick="">
            <input type="file" id="upload2">
            <div class="overlayUpload">
                <img src="assets/icons/upload.svg">
            </div>
        </div>
        <div class="upload" onclick="">
            <input type="file" id="upload3">
            <div class="overlayUpload">
                <img src="assets/icons/upload.svg">
            </div>
        </div>
    </div>

    <div class="colSpace"></div>
    <!-- réseaux -->

    <div class="colSpace"></div>

    <div id="mots-cles">
        <p id="entrez_mots-cles">Entrez les mots-clés qui correspondent le plus au commerce :</p>
        <div id="inputDiv_mots-cles">
            <input type="text" id="input_mots-cles">
            <button id="add_mots-cles">
                <img src="assets/icons/add.svg">
            </button>
        </div>
        <table id="table_mots-cles">
            <tr>
                <td id="mot-cle1" class="case_mot">
                    <a href="#">x</a>
                    <span></span>
                </td>
                <td id="mot-cle2" class="case_mot">
                    <a href="#">x</a>
                    <span></span>
                </td>
                <td id="mot-cle3" class="case_mot">
                    <a href="#">x</a>
                    <span></span>
                </td>
            </tr>
            <tr>
                <td id="mot-cle4" class="case_mot">
                    <a href="#">x</a>
                    <span></span>
                </td>
                <td id="mot-cle5" class="case_mot">
                    <a href="#">x</a>
                    <span></span>
                </td>
                <td id="mot-cle6" class="case_mot">
                    <a href="#">x</a>
                    <span></span>
                </td>
            </tr>
        </table>
    </div>

    <div class="colSpace"></div>
    <div class="colSpace"></div>
    <div class="colSpace"></div>
    <div class="colSpace"></div>
    <div class="colSpace"></div>
    <div class="colSpace"></div>
    <div class="colSpace"></div>
    <div class="colSpace"></div>
    <div class="colSpace"></div>
    <div class="colSpace"></div>


    <div class='bloc'>
        <p class="txtblanc txtBold txtSiz txtgauche txtprog"><span class="progressiontext"></span></p>
        

        <div class="bar">
            <div class="percentage has-tip">
        </div>
    </div>
</div>