<div class="panel" id="searchArea">
    <p>Dites nous ce qui vous ferait plaisir :</p>
    <input type="text" placeholder="Rechercher un commerce de proximité">
    <div id="tagsRecherche">
        <button class="tagRecherche">
            OverBanane
        </button>
        <button class="tagRecherche">
            Michel
        </button>
        <button class="tagRecherche">
            Michel
        </button>
        <button class="tagRecherche">
            Michel
        </button>
        <button class="tagRecherche">
            Michel
        </button>
    </div>
</div>