<div class="panel" id="searchArea">
    <p>Dites nous ce qui vous ferait plaisir :</p>
    <input type="text" id="inputRecherche" placeholder="Rechercher un commerce de proximité">
    <div id="tagsRecherche">
        <button class="tagRecherche">
            click&collect
        </button>
        <button class="tagRecherche">
            livraison
        </button>
        <button class="tagRecherche">
            artisan
        </button>
        <button class="tagRecherche">
            épicerie
        </button>
        <button class="tagRecherche">
            zéro-déchet
        </button>
        <button class="tagRecherche">
            artisan
        </button>
        <button class="tagRecherche">
            fleuriste
        </button>
    </div>
</div>