   
.bloc {
    position: fixed;
    bottom: 0px;
    width: 100vw ;
    left: 100vw;
    height: 70px ;
    border-radius: 0.5em;
    background: #00296B;
    box-shadow: -3px -3px 8px 1px #FFFFFF, 3px 3px 11px 1px rgba(174, 174, 192, 0.4);
    transition: left 1s;
}   

.bloc.show {
    left: 0px;
}

.txtblanc {
    color: $blanc;
}


.txtBold {
    font-family: Goldplay-Alt-Bold;
}


.txtSiz{
    font-size: 2vh;
}

.txtgauche{
    transform: translate( 10%,-0%);
}

.bar {

    width: 80vw ;
    height: 0.7em ;
    border-radius: 0.5em ;
    position: absolute ; 
    top: 65%;
    left: 50%;
    transform: translate(-50%,-35%);
    background : #F0F0F3 ;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1) ;
  }

  .bar .percentage {
    position: absolute;
    font-size: 1em;
    background: #FEC601;
    height: 0.7em;
    width: 0em ;
    border-radius: 0.5em;
    transition: 0.2s;
  }

.percentage.green {
      background: #0B9710 !important ;
  }

