@font-face {
    font-family: Goldplay-Alt-Bold;
    src: url("../fonts/Goldplay/Goldplay Alt Bold.otf");
}

@font-face {
    font-family: Goldplay-Alt-Light;
    src: url("../fonts/Goldplay/Goldplay Alt Light.otf");
}

@font-face {
    font-family: Goldplay-Alt-Black;
    src: url("../fonts/Goldplay/Goldplay Alt Black.otf");
}

@font-face {
    font-family: Goldplay-Alt-Medium;
    src: url("../fonts/Goldplay/Goldplay Alt Medium.otf");
}

@font-face {
    font-family: Goldplay-Alt-Regular;
    src: url("../fonts/Goldplay/Goldplay Alt Regular.otf");
}

@font-face {
    font-family: Goldplay-Alt-Thin;
    src: url("../fonts/Goldplay/Goldplay Alt Thin.otf");
}

@font-face {
    font-family: Goldplay-Alt-SemiBold;
    src: url("../fonts/Goldplay/Goldplay Alt SemiBold.otf");
}