.footer {
    position: fixed;
    bottom: -5px;
    right: -2px;
    left: -2px;
    background: $jaune;
    box-shadow: -3px -3px 8px 1px #FFFFFF, 3px 3px 11px 1px rgba(174, 174, 192, 0.4);
    border-radius: 10px;
    
     
    
    
}
.description_footer {
    font-family: Goldplay-Alt-Bold;
    color: $bleu;
    margin: 0px 0px 1% 0px;
    down: 50%;
    text-align: center;
    
}