.txtBleu {
    color: $bleu;
}

.txtCenter {
    text-align: center;
}

.txtBold {
    font-family: Goldplay-Alt-Bold;
}

.txtLight {
    font-family: Goldplay-Alt-Light;
}



#formDiv {
    left: 100vw;
    transition: left 1s;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    &.show {
        left: 0vw;
    }
}

.inputDiv {
    label {
        font-size: 2.3vh;
        color: $bleu;
        font-family: Goldplay-Alt-Bold;
    }
    input {
        border: none;
        border-radius: 15px;
        width: 90%;
        height: 50px;
        background-color: #F0F0F3;
        box-shadow: inset 5px 5px 10px #cccccf, inset -5px -5px 10px #ffffff;
    }
}

#champsObligatoires {
    font-size: 12px;
    text-align: center;
}

.caracteresMax {
    color: $bleu;
    font-family: Goldplay-Alt-Regular;
    font-size: 12px;
    margin-top: 0.5%;
}

.inputs{
    font-family: Goldplay-Alt-Regular;
    color: $bleu;
    padding-left: 5%;
    padding-right: 5%;
    
}

#inputDesc{
    @extend .inputs;
    padding: 20px 20px;
    height: 90px;
    width: 88%;
    resize: none;
    border: 0px;
    border-radius: 20px;
    background-color: #F0F0F3;
    box-shadow: inset 5px 5px 10px #cccccf, inset -5px -5px 10px #ffffff;

}

#charNum{
    @extend .caracteresMax;

}

.colSpaceMini{
    height: 5px;
}

.is-red{
    color: $rouge;
}

.image{
    display: flex;
    padding: 20px 20px;
    height: 100px;
    width: 20%;
    resize: none;
    border: 0px;
    
    background-color: #F0F0F3;
    box-shadow: inset -7px -7px 10px #FFFFFF, inset 7px 7px 15px rgba(174, 174, 192, 0.4);
    border-radius: 12px;
}