.txtBleu {
    color: $bleu;
}

.txtCenter {
    text-align: center;
}

.txtBold {
    font-family: Goldplay-Alt-Bold;
}

.txtLight {
    font-family: Goldplay-Alt-Light;
}

.txtSize{
    font-size: 3vh;
}

.txtSizeMini{
    font-size: 2.5vh;
}

.colSpace {
    height: 30px;
}

$vitesseForm: 0.3s;

#formDiv {
    left: 100vw;
    transition: left $vitesseForm;
    transition-timing-function: ease-in-out;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    &.show {
        left: 0vw;
    }
}

.inputDiv {
    label {
        font-size: 2.3vh;
        color: $bleu;
        font-family: Goldplay-Alt-Bold;
    }
    input {
        width: 90%;
    }
}

#champsObligatoires {
    font-size: 12px;
    text-align: center;
}


.caracteresMax {
    color: $bleu;
    font-family: Goldplay-Alt-Regular;
    font-size: 12px;
    margin-top: 0.5%;
}

.inputs{
    font-family: Goldplay-Alt-Regular;
    color: $bleu;
    padding-left: 20px;
    padding-right: 30px;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    height: 50px;
    background-color: #F0F0F3;
    box-shadow: inset 5px 5px 10px #cccccf, inset -5px -5px 10px #ffffff;
}

#inputDesc{
    @extend .inputs;
    padding: 20px 20px;
    height: 90px;
    width: 88%;
    resize: none;
    border: 0px;
    border-radius: 20px;
    background-color: #F0F0F3;
    box-shadow: inset 5px 5px 10px #cccccf, inset -5px -5px 10px #ffffff;

}

#charNum{
    @extend .caracteresMax;

}

.colSpaceMini{
    height: 5px;
}

.is-red{
    color: $rouge;
}

#img{
    display: flex;
    justify-content: space-between;
}

.uploads {
    display: flex;
    justify-content: space-between;
}

.upload{
    box-sizing: border-box;
    width: 20vw;
    height: 80px;
    border: none;
    box-shadow: inset -7px -7px 10px #FFFFFF, inset 7px 7px 15px rgba(174, 174, 192, 0.4);
    border-radius: 12px;
    position: relative;
    input {
        opacity: 0%;
    }
    .overlayUpload {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 60%;
            height: 60%;
        }
    }
}

#entrez_mots-cles {
    color: $bleu;
    font-family: Goldplay-ALt-Bold;
}

#input_mots-cles {
    width: 70%;
}

#add_mots-cles {
    width: 50px;
    height: 50px;
    box-shadow:  5px 5px 10px #cccccf, -5px -5px 10px #ffffff;
    position: absolute;
    border-radius: 10px;
    margin-left: 20px;
    border: none;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
    }
}

#input_mots-cles, #add_mots-cles {
    display: inline-block;
}

#inputDiv_mots-cles {
    position: relative;
    margin-bottom: 20px;
}

#liste_mots-cles {
    border-spacing: 10px;
}

.case_mot {
    background-color: $bleu;
    color: $blanc;
    font-family: Goldplay-Alt-Regular;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    a {
        margin-right: 5px;
        text-decoration: none;
        color: $blanc;
    }
}

#ref_case_mot {
    display: none;
}

#demande_horaires {
    font-family: Goldplay-Alt-Regular;
    color: $bleu;
}

#barre_jours {
    background-color: $bleu;
    border-radius: 20px;
    width: 100%;
    overflow-x: scroll;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.barre_jour {
    color: $blanc;
    display: inline-block;
    font-family: Goldplay-Alt-Bold;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.jour_selected {
    color: $bleu;
    background-color: $jaune;
}

.inputHorairesLigne {
    td {
        padding-top: 10px;
    }
    p {
        font-family: Goldplay-Alt-Regular;
        color: $bleu;
    }
}

.inputHoraire {
    width: 25vw;
    display: none;
}

#inputDivHoraires {
    width: 100%;
}

#effacerJour {
    font-family: Goldplay-Alt-Regular;
    color: $bleu;
    border: none;
    border-radius: 15px;
    box-shadow:  5px 5px 10px #cccccf, -5px -5px 10px #ffffff;
    background-color: $blanc;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

#boutonRef {
    font-family: Goldplay-Alt-Bold;
    color: $bleu;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    box-shadow:  5px 5px 10px #cccccf, -5px -5px 10px #ffffff;
    background-color: $blanc;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-bottom: 100px;
}