$titleBarHeight: 75px;

#backgroundDiv {
    background-color: $bleu;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    border-radius: 35px 35px 0px 0px;
    position: relative;
}

#titleDiv {
    height: $titleBarHeight;
    width: 100%;
    position: relative;
}

#titre {
    font-family: Goldplay-Alt-Bold;
    color: $blanc;
    margin: 0px 0px 0px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contentDiv {
    background-color: $blanc;
    width: 100%;
    height: calc(100% - #{$titleBarHeight});
    overflow-y: scroll;
    bottom: 0px;
    position: absolute;
    border-radius: 35px 35px 0px 0px;
}

#searchDiv {
    transition: height 1s;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

#soutien {
    color: $bleu;
    font-family: Goldplay-Alt-Light;
    text-align: center;
}

#aucunResultat {
    display: none;
    font-family: Goldplay-Alt-Bold;
    color: $bleu;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}