$tagRechercheW: 50px;
$tagRechercheH: 25px;

$inputW: 80%;
$inputH: 30px;

#searchArea {
    position: relative;
    P {
        font-family: Goldplay-Alt-Regular;
        color: $blanc;
        font-size: 25px;
        text-align: center;
        margin: 10px 30px 10px 30px;
        margin-top: 0px;
    }
    input {
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        background-color: $blanc;
        border: none;
        border-radius: 20px;
        position: relative;
        left: 50%;
        width: 80%;
        height: 30px;
        transform: translateX(-50%);
        box-shadow: inset $inputH/10 $inputH/10 $inputH/5 #a8a8aa, inset $inputH/10*-1 $inputH/10*-1 $inputH/5 #ffffff;
        &::placeholder{
            color: $bleu;
            opacity: 0.5;
            font-family: Goldplay-Alt-Bold;
            font-size: 80%;
        }
    }
    #tagsRecherche {
        overflow-x: scroll;
        width: 100vw;
        white-space: nowrap;
    }
}

.tagRecherche {
    margin: 10px 10px 10px 10px;
    border: none;
    border-radius: 50px;
    background-color: $bleu;
    color: $blanc;
    height: $tagRechercheH;
    box-shadow: $tagRechercheH/10 $tagRechercheH/10 $tagRechercheH/5 #00102b, $tagRechercheH/10*-1 $tagRechercheH/10*-1 $tagRechercheH/5 #0042ab;
}